POSTGRES_DB=prova_intermediaria
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Usadas pela aplicacao quando ela roda fora do Docker:
DB_URL=jdbc:postgresql://localhost:5432/prova_intermediaria
DB_USERNAME=postgres
DB_PASSWORD=postgres
